Source: profitbricks-python-logging
Section: python
Priority: extra
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Build-Depends: debhelper (>= 7.0.50~), python-epydoc, python-docutils,
 python-support, texlive-latex-base, texlive-latex-extra, python-argparse, ghostscript
Standards-Version: 3.8.4
Vcs-Git: git+ssh://git.profitbricks.localdomain/srv/git/python/pb-logging.git
Vcs-Browser: http://git.profitbricks.localdomain/gitweb/?p=python/pb-logging.git;a=summary

Package: profitbricks-python-logging
Architecture: all
Depends: ${misc:Depends}, python, python-support, python-argparse
Description: Python modules to extend logging mechanism.
 .
 The following objects are supported by this package:
   - ColoredFormatter - for colored output on the system console
   - PbSysLogHandler - to avoid BOM errors in syslog messages
   - UnixSyslogHandler - to support logging via syslog on systems without /dev/log

Package: profitbricks-python-logging-doc
Architecture: all
Suggests: profitbricks-python-logging (= ${binary:Version}), pdf-viewer, www-browser
Description: Python modules to extend logging mechanism - documentation
 .
 This package contains the module documentation in HTML and PDF format.

