Source: pb-logging
Section: python
Priority: extra
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Uploaders: Benjamin Drung <benjamin.drung@profitbricks.com>
Build-Depends: debhelper (>= 7.3.5),
               ghostscript,
               python-all (>= 2.6.5-2~),
               python-argparse,
               python-docutils,
               python-epydoc,
               python3-all,
               texlive-latex-base,
               texlive-latex-extra
Standards-Version: 3.9.5
Homepage: https://gitlab.pb.local/dcops/pb-logging
Vcs-Browser: https://gitlab.pb.local/dcops/pb-logging
Vcs-Git: git@gitlab.pb.local:dcops/pb-logging.git
X-Python-Version: >=2.6
X-Python3-Version: >=3.2

Package: python-pb-logging
Architecture: all
Depends: python-argparse, ${misc:Depends}, ${python:Depends}
Breaks: profitbricks-python-logging (<< 0.4.2-2~)
Replaces: profitbricks-python-logging (<< 0.4.2-2~)
Description: Python modules to extend logging mechanism
 The following objects are supported by this package:
  - ColoredFormatter - for colored output on the system console
  - PbSysLogHandler - to avoid BOM errors in syslog messages
  - UnixSyslogHandler - to support logging via syslog on systems without
    /dev/log
 .
 This is the Python 2 version of the package.

Package: python3-pb-logging
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Breaks: profitbricks-python3-logging (<< 0.4.2-2~)
Replaces: profitbricks-python3-logging (<< 0.4.2-2~)
Description: Python3 modules to extend logging mechanism
 The following objects are supported by this package:
  - ColoredFormatter - for colored output on the system console
  - PbSysLogHandler - to avoid BOM errors in syslog messages
  - UnixSyslogHandler - to support logging via syslog on systems without
    /dev/log
 .
 This is the Python 3 version of the package.

Package: python-pb-logging-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: pdf-viewer,
          profitbricks-python-logging (= ${binary:Version}),
          www-browser
Breaks: profitbricks-python-logging-doc (<< 0.4.2-2~)
Replaces: profitbricks-python-logging-doc (<< 0.4.2-2~)
Description: Python modules to extend logging mechanism - documentation
 The following objects are supported by this package:
  - ColoredFormatter - for colored output on the system console
  - PbSysLogHandler - to avoid BOM errors in syslog messages
  - UnixSyslogHandler - to support logging via syslog on systems without
    /dev/log
 .
 This package contains the module documentation in HTML and PDF format.

Package: profitbricks-python-logging
Depends: python-pb-logging, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: profitbricks-python3-logging
Depends: python3-pb-logging, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: profitbricks-python-logging-doc
Depends: python-pb-logging-doc, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
