#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

BIN2_PKGNAME := profitbricks-python-logging
BIN3_PKGNAME := profitbricks-python3-logging
DOC_PKGNAME  := profitbricks-python-logging-doc

INSTALL2_DIR := $(CURDIR)/debian/$(BIN2_PKGNAME)
INSTALL3_DIR := $(CURDIR)/debian/$(BIN3_PKGNAME)
DOC_DIR      := $(CURDIR)/debian/$(DOC_PKGNAME)/usr/share/doc/$(DOC_PKGNAME)

PYTHON2S     := $(shell pyversions -vr || true)
PYTHON3S     := $(shell py3versions -vr || true)

%:
	dh $@ --with python2,python3

override_dh_auto_build:
	$(info )
	$(info ########################)
	$(info Building ...)
	$(info )

	dh_testdir
	@echo ""
	@echo "Building Python 2 stuff ..."
	set -e && for pyvers in $(PYTHON2S); do python$$pyvers setup.py build; done
	@echo ""
	@echo "Building Python 3 stuff ..."
	set -e && for pyvers in $(PYTHON3S); do python$$pyvers setup.py build; done

override_dh_auto_install:
	$(info )
	$(info ########################)
	$(info Installing ...)
	$(info )

	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install

	@echo ""
	@echo "Installing Python 2 stuff ..."
	set -e && for pyvers in $(PYTHON2S); do python$$pyvers setup.py install --root=$(INSTALL2_DIR) --install-layout=deb; done

	@echo ""
	@echo "Installing Python 3 stuff ..."
	set -e && for pyvers in $(PYTHON3S); do python$$pyvers setup.py install --root=$(INSTALL3_DIR) --install-layout=deb; done

	@echo ""
	@echo "Documentation ..."
	mkdir -p $(DOC_DIR)/html
	mkdir -p $(DOC_DIR)/pdf

	epydoc --html -v -o $(DOC_DIR)/html $(CURDIR)/pb_logging
	epydoc --pdf -o $(DOC_DIR)/pdf $(CURDIR)/pb_logging

	dh_link

override_dh_auto_clean:
	$(info )
	$(info ########################)
	$(info Cleaning ...)
	$(info )

	dh_auto_clean
	rm -fv $(CURDIR)/debian/*debhelper.log
	rm -rf $(CURDIR)/build

binary: binary-indep
binary-arch: build install
	# nothing to do here.

binary-indep: build install
	dh $@ --with python2,python3

.PHONY: install binary binary-arch binary-indep

